Real-World Problem Solving with Algorithms and Data Structures - Book Recommendation Model

In [4]:
import pandas as pd
import ipytest

- Reading dataset from Amazon Books Dataset: Genre, Sub-genre, and Books (available at https://www.kaggle.com/datasets/tanisha1604/amazon-books-dataset-genre-sub-genre-and-books)

In [5]:
books_df = pd.read_csv("Books_df.csv")

In [6]:
print("Books DataFrame:")
books_df.head()

Books DataFrame:

,Unnamed: 0,Title,Author,Main Genre,Sub Genre,Type,Price,Rating,No. of People rated,URLs
0,0,The Complete Novel of Sherlock Holmes,Arthur Conan Doyle,"Arts, Film & Photography",Cinema & Broadcast,Paperback,₹169.00,4.4,19923.0,https://www.amazon.in/Complete-Novels-Sherlock...
1,1,Black Holes (L) : The Reith Lectures [Paperbac...,Stephen Hawking,"Arts, Film & Photography",Cinema & Broadcast,Paperback,₹99.00,4.5,7686.0,https://www.amazon.in/Black-Holes-Lectures-Ste...
2,2,The Kite Runner,Khaled Hosseini,"Arts, Film & Photography",Cinema & Broadcast,Kindle Edition,₹175.75,4.6,50016.0,https://www.amazon.in/Kite-Runner-Khaled-Hosse...
3,3,Greenlights: Raucous stories and outlaw wisdom...,Matthew McConaughey,"Arts, Film & Photography",Cinema & Broadcast,Paperback,₹389.00,4.6,32040.0,https://www.amazon.in/Greenlights-Raucous-stor...
4,4,The Science of Storytelling: Why Stories Make ...,Will Storr,"Arts, Film & Photography",Cinema & Broadcast,Paperback,₹348.16,4.5,1707.0,https://www.amazon.in/Science-Storytelling-Wil...

- Converting price to Euro:

In [7]:
exchange_rate_inr_to_eur = 1 / 89.43  # 1 Euro = 89.43 INR

# Removing commas and currency symbol from the prices and convert to float
books_df['Price'] = books_df['Price'].str.replace(',', '').str.replace('₹', '').astype(float)

# Calculating the price in Euros
books_df['Price_EUR'] = books_df['Price'] * exchange_rate_inr_to_eur

# Rounding the price in Euros to two decimal places
books_df['Price_EUR'] = books_df['Price_EUR'].apply(lambda x: round(x, 2))

print("Books DataFrame with Prices in Euros:")
books_df.head()

Books DataFrame with Prices in Euros:

,Unnamed: 0,Title,Author,Main Genre,Sub Genre,Type,Price,Rating,No. of People rated,URLs,Price_EUR
0,0,The Complete Novel of Sherlock Holmes,Arthur Conan Doyle,"Arts, Film & Photography",Cinema & Broadcast,Paperback,169.00,4.4,19923.0,https://www.amazon.in/Complete-Novels-Sherlock...,1.89
1,1,Black Holes (L) : The Reith Lectures [Paperbac...,Stephen Hawking,"Arts, Film & Photography",Cinema & Broadcast,Paperback,99.00,4.5,7686.0,https://www.amazon.in/Black-Holes-Lectures-Ste...,1.11
2,2,The Kite Runner,Khaled Hosseini,"Arts, Film & Photography",Cinema & Broadcast,Kindle Edition,175.75,4.6,50016.0,https://www.amazon.in/Kite-Runner-Khaled-Hosse...,1.97
3,3,Greenlights: Raucous stories and outlaw wisdom...,Matthew McConaughey,"Arts, Film & Photography",Cinema & Broadcast,Paperback,389.00,4.6,32040.0,https://www.amazon.in/Greenlights-Raucous-stor...,4.35
4,4,The Science of Storytelling: Why Stories Make ...,Will Storr,"Arts, Film & Photography",Cinema & Broadcast,Paperback,348.16,4.5,1707.0,https://www.amazon.in/Science-Storytelling-Wil...,3.89

UserManager function:

-  init(self): Initializes the UserManagement class by creating a fixed-size hash table to store user information;

- _hash(self, username): Generates a hash value for a given username using a simple hash function;
  
- _find_slot(self, username): Finds an empty slot in the hash table for a new user or the slot containing the user with the given username, using linear probing for collision resolution;
  
- register_user(self, username, password): Registers a new user by storing their username, password, and an empty preferences dictionary in the hash table. Checks for username availability;
  
- login_user(self, username, password): Logs in a user by verifying the provided username and password against the stored credentials in the hash table;
  
- set_preference(self, username, preference_key, preference_value): Sets a preference for a user by adding it to their preferences dictionary in the hash table. Handles preference key conflicts by appending values to existing keys;
  
- get_preferences(self, username): Retrieves the preferences of a user by returning their preferences dictionary from the hash table;
  
- input_credentials(self): Prompts the user to input their username and password and returns them;
  
- input_preferences(self): Prompts the user to input their favorite genre, author, and type of book, and returns these preferences;
  
- check_all_users(self): Prints a list of all registered users along with their usernames, passwords, and preferences;
  
- get_user_by_username(self, username): Retrieves a user's information by searching for their username in the hash table and returning the corresponding user dictionary.

In [8]:
class UserManagement:
  def __init__(self):
    # Simulate a fixed-size hash table (adjust SIZE as needed)
    self.SIZE = 20
    self.users = [None] * self.SIZE  # Array to store user information

  def _hash(self, username):
    # Simple hash function (can be improved for better distribution)
    return sum(ord(char) for char in username) % self.SIZE

  def _find_slot(self, username):
    # Find an empty slot or the slot containing the user
    index = self._hash(username)
    for i in range(self.SIZE):
      probe_index = (index + i) % self.SIZE  # Linear probing for collisions
      if self.users[probe_index] is None or self.users[probe_index]['username'] == username:
        return probe_index
    raise Exception("Hash table is full!")

  def register_user(self, username, password):
    index = self._find_slot(username)
    if self.users[index] is None:
      self.users[index] = {'username': username, 'password': password, 'preferences': {}}
      print("Registration successful!")
    else:
      print("Username already exists. Please choose a different username.")

  def login_user(self, username, password):
    index = self._find_slot(username)
    if self.users[index] is not None and self.users[index]['username'] == username and self.users[index]['password'] == password:
      print("Login successful!")
      return True
    else:
      print("Invalid username or password. Please try again.")
      return False

  def set_preference(self, username, preference_key, preference_value):
    index = self._find_slot(username)
    if self.users[index] is not None:
      if 'preferences' not in self.users[index]:
        self.users[index]['preferences'] = {}
      if preference_key in self.users[index]['preferences']:
        self.users[index]['preferences'][preference_key].append(preference_value)
      else:
        self.users[index]['preferences'][preference_key] = [preference_value]
      print("Preference set successfully!")
    else:
      print("User not found. Please login again.")

  def get_preferences(self, username):
    index = self._find_slot(username)
    if self.users[index] is not None and 'preferences' in self.users[index]:
      return self.users[index]['preferences']
    else:
      print("User not found or no preferences set.")
      return None

  def input_credentials(self):
    username = input("Enter your username: ")
    password = input("Enter your password: ")
    return username, password

  def input_preferences(self):
    favorite_genre = input("Enter your favorite genre: ")
    favorite_author = input("Enter your favorite author: ")
    favorite_book_type = input("Enter your favorite type of book: ")
    return favorite_genre, favorite_author, favorite_book_type

  def check_all_users(self):
    if self.users:
      print("List of all users:")
      for i in range(self.SIZE):
        if self.users[i] is not None:
          print(f"Username: {self.users[i]['username']}, Password: {self.users[i]['password']}, Preferences: {self.users[i]['preferences']}")
    else:
      print("No users registered yet.")

  def get_user_by_username(self, username):
        index = self._find_slot(username)
        if self.users[index] is not None and self.users[index]['username'] == username:
            return self.users[index]
        else:
            return None

- Testing UserManager methods:

- Registering users on the system:

In [9]:
user_manager = UserManagement()

user_manager.register_user('Sean', 'password123')
user_manager.register_user('Saoirse', 'password789')
user_manager.register_user('Finn', 'password456')
user_manager.register_user('Aoife', 'password997')

Registration successful!
Registration successful!
Registration successful!
Registration successful!

- Please input your registration information:

In [10]:
username, password = user_manager.input_credentials()

user_manager.register_user(username, password)

Enter your username:  Andressa
Enter your password:  123

Registration successful!

In [11]:
# Check all users
user_manager.check_all_users()

List of all users:
Username: Aoife, Password: password997, Preferences: {}
Username: Saoirse, Password: password789, Preferences: {}
Username: Sean, Password: password123, Preferences: {}
Username: Finn, Password: password456, Preferences: {}
Username: Andressa, Password: 123, Preferences: {}

- Users setting preferences:

- Sean:

In [12]:
user_manager.set_preference('Sean', 'favorite_genre', 'Science Fiction')
user_manager.set_preference('Sean', 'favorite_author', 'J.K. Rowling')
user_manager.set_preference('Sean', 'favorite_type', 'Paperback')

Preference set successfully!
Preference set successfully!
Preference set successfully!

- Saoirse:

In [13]:
user_manager.set_preference('Saoirse', 'favorite_genre', 'Arts, Film & Photography')
user_manager.set_preference('Saoirse', 'favorite_author', 'Oscar Wilde')
user_manager.set_preference('Saoirse', 'favorite_type', 'Kindle Edition')

Preference set successfully!
Preference set successfully!
Preference set successfully!

- Finn:

In [14]:
user_manager.set_preference('Finn', 'favorite_genre', 'Travel')
user_manager.set_preference('Finn', 'favorite_author', 'Aristotle')
user_manager.set_preference('Finn', 'favorite_type', 'Hardcover')

Preference set successfully!
Preference set successfully!
Preference set successfully!

- Aoife:

In [15]:
user_manager.set_preference('Aoife', 'favorite_genre', 'Economics')
user_manager.set_preference('Aoife', 'favorite_author', 'Paramahansa Yogananda')
user_manager.set_preference('Aoife', 'favorite_type', 'Paperback')

Preference set successfully!
Preference set successfully!
Preference set successfully!

- Please insert your preferences:

In [16]:
username = input("Enter your username: ").strip() 

user_info = user_manager.get_user_by_username(username)

if user_info is not None:
    
    favorite_genre = input("Enter your favorite genre: ")
    #Examples of genre in the dataset: ["Romance", "Science & Mathematics", "Sports", "Fantasy", "Literature & Fiction", "Travel", "Fantasy, Horror & Science Fiction"]

    favorite_author = input("Enter your favorite author: ")
    #In case the dataset doesn't include books from your favorite author, you can select one of those options (for testing purposes):
    #["Zoey Draven", "John Marrs", "Victoria Aveline", "Ivy Barrett", "Talia Rhea", "Bella Matthews", "C.W. Farnsworth", "Franz Kafka"]

    favorite_book_type = input("Enter your favorite type of book: ")
     #Examples of book type in the dataset: ["Paperback", "Kindle Edition", "Hardcover"]

    
    user_manager.set_preference(username, 'favorite_genre', favorite_genre)
    user_manager.set_preference(username, 'favorite_author', favorite_author)
    user_manager.set_preference(username, 'favorite_book_type', favorite_book_type)
else:
    print("User not found. Please register first.")

Enter your username:  Andressa
Enter your favorite genre:  Literature & Fiction
Enter your favorite author:  Bella Matthews
Enter your favorite type of book:  Hardcover

Preference set successfully!
Preference set successfully!
Preference set successfully!

- Checking all users:

In [17]:
user_manager.check_all_users()

List of all users:
Username: Aoife, Password: password997, Preferences: {'favorite_genre': ['Economics'], 'favorite_author': ['Paramahansa Yogananda'], 'favorite_type': ['Paperback']}
Username: Saoirse, Password: password789, Preferences: {'favorite_genre': ['Arts, Film & Photography'], 'favorite_author': ['Oscar Wilde'], 'favorite_type': ['Kindle Edition']}
Username: Sean, Password: password123, Preferences: {'favorite_genre': ['Science Fiction'], 'favorite_author': ['J.K. Rowling'], 'favorite_type': ['Paperback']}
Username: Finn, Password: password456, Preferences: {'favorite_genre': ['Travel'], 'favorite_author': ['Aristotle'], 'favorite_type': ['Hardcover']}
Username: Andressa, Password: 123, Preferences: {'favorite_genre': ['Literature & Fiction'], 'favorite_author': ['Bella Matthews'], 'favorite_book_type': ['Hardcover']}

GenreRecommender function:

- init(self, user_manager, books_df): Initializes the GenreRecommender class with instances of UserManagement and a DataFrame containing book information;
  
- recommend_books(self, username): Recommends books to a user based on their favorite genre. Retrieves the user's favorite genre from their preferences, filters books in the DataFrame by this genre, and returns the top recommendations;
  
- filter_books_by_genre(self, favorite_genre): Filters the DataFrame of books by the given favorite genre(s);
  
- get_top_recommendations(self, filtered_books): Retrieves the top recommendations from the filtered books DataFrame based on ratings;
  
- get_user_info(self, username): Retrieves information about a user by their username from the UserManagement instance.

In [18]:
class GenreRecommender:
    def __init__(self, user_manager, books_df):
        self.user_manager = user_manager
        self.books_df = books_df

    def recommend_books(self, username):
        """Recommends books based on user's favorite genre from preferences"""
        user_info = self.user_manager.get_user_by_username(username)
        if user_info:
            if self.user_manager.login_user(username, user_info['password']):
                favorite_genre = user_info['preferences'].get('favorite_genre')
                if favorite_genre:
                    filtered_books = self.filter_books_by_genre(favorite_genre)
                    recommendations = self.get_top_recommendations(filtered_books)
                    print(f"Here are some recommendations for {username} based on favorite genre '{favorite_genre}':")
                    return recommendations
                else:
                    print(f"{username} doesn't have a favorite genre set in preferences.")
                    return pd.DataFrame()  # Return an empty DataFrame
            else:
                print("Invalid username or password. Please try again.")
                return pd.DataFrame()  # Return an empty DataFrame
        else:
            print(f"User {username} not found.")
            return pd.DataFrame()  # Return an empty DataFrame

    def filter_books_by_genre(self, favorite_genre):
        if isinstance(favorite_genre, list):
            favorite_genre = ", ".join(favorite_genre)
        if self.books_df['Main Genre'].dtype != object:
            self.books_df['Main Genre'] = self.books_df['Main Genre'].astype(str)
        return self.books_df[self.books_df['Main Genre'].str.contains(favorite_genre, case=False)]

    def get_top_recommendations(self, filtered_books):
        selected_columns = ['Title', 'Author', 'Price_EUR', 'Rating', 'URLs']
        sorted_books = filtered_books.sort_values(by='Rating', ascending=False)[selected_columns]
        recommendation_count = 3
        return sorted_books.head(recommendation_count)

    def get_user_info(self, username):
        """Retrieve user information"""
        user_info = self.user_manager.get_user_by_username(username)
        return user_info

- Testing GenreRecommender methods:

- Retrieving personalised book recommendations for registered users based on their favorite genre:

In [19]:
genre_recommender = GenreRecommender(user_manager, books_df)

recommendations = genre_recommender.recommend_books('Sean')
styled_recommendations = recommendations.style
styled_recommendations

Login successful!
Here are some recommendations for Sean based on favorite genre '['Science Fiction']':

In [24]:
genre_recommender = GenreRecommender(user_manager, books_df)

username = input("Enter your username: ").strip()

user_info = genre_recommender.recommend_books(username)
styled_recommendations = user_info.style
styled_recommendations

Enter your username:  Andressa

Login successful!
Here are some recommendations for Andressa based on favorite genre '['Literature & Fiction']':

GetBooksByFavoriteAuthors function:

- get_books_by_favorite_authors(): This function recommends books based on a user's favorite authors. It takes the username, user manager instance, a DataFrame containing book information, and optional desired columns as input. It first retrieves the user information using the provided username and checks if the user exists and has preferences set. Then, it retrieves the user's favorite authors from the preferences. For each favorite author, it filters the books DataFrame to select only the books authored by that author. If books are found, they are sorted by rating in descending order, and only the top 3 books per author are selected. Finally, it concatenates the recommended books into a single DataFrame and returns it, or returns an empty DataFrame if no books are found.

In [25]:
def GetBooksByFavoriteAuthors(username, user_manager, books_df, desired_columns=['Title', 'Author', 'Rating', 'Price_EUR', 'URLs']):
    user_info = user_manager.get_user_by_username(username)

    if user_info is None:
        print("User not found.")
        return pd.DataFrame()

    if 'preferences' not in user_info:
        print(f"User '{username}' has no preferences set.")
        return pd.DataFrame()

    favorite_authors = user_info['preferences'].get('favorite_author', [])

    if not favorite_authors:
        print(f"User '{username}' has no favorite authors set.")
        return pd.DataFrame()

    recommended_books = []

    for author in favorite_authors:
        if author in books_df['Author'].unique():
            author_books = books_df[books_df['Author'] == author]
            if not author_books.empty:
                # Sort the books by rating in descending order
                sorted_books = author_books.sort_values(by='Rating', ascending=False)
                # Select only the top 3 books per author
                top_3_books = sorted_books.head(3)[desired_columns]
                recommended_books.append(top_3_books)
            else:
                print(f"No books found for author {author}.")
        else:
            print(f"Invalid author name: {author}")

    if recommended_books:
        # Concatenate the list of DataFrames into a single DataFrame
        df = pd.concat(recommended_books)
        return df
    else:
        print("No books found matching the criteria.")
        return pd.DataFrame()


def get_user_info(self, username):
        """Retrieve user information"""
        user_info = self.user_manager.get_user_by_username(username)
        return user_info

  #insert method here for the user input!

- Testing GetBooksByFavoriteAuthors methods:

- Retrieving personalised book recommendations for registered users based on their favorite authors:

In [26]:
recommendations = GetBooksByFavoriteAuthors('Saoirse', user_manager, books_df)
styled_recommended_books_by_author = recommendations.style
styled_recommended_books_by_author

In [30]:
username = input("Enter your username: ").strip()

recommendations_by_author_input = GetBooksByFavoriteAuthors(username, user_manager, books_df)

user_info = recommendations_by_author_input.style

user_info

Enter your username:  Aoife

PriceSort function:

- init(self, books_df): Initializes the PriceSort class with a DataFrame containing book information. It converts the 'Price_EUR' column to numeric type, removes rows with NaN values in the 'Price_EUR' column, and sorts the DataFrame by price in ascending order;

- find_closest_book(self, target_price, min_rating=4): Performs a binary search on the sorted DataFrame to find the book closest to the target price while also meeting a minimum rating criterion. It returns the book closest to the target price with a rating of at least min_rating.

In [32]:
class PriceSort:
  def __init__(self, books_df):
        """
        Sorts the book dataframe by price in ascending order.
        """
        # Convert Price_EUR column to numeric type
        books_df['Price_EUR'] = pd.to_numeric(books_df['Price_EUR'], errors='coerce')
        # Remove rows with NaN values in Price_EUR column
        books_df = books_df.dropna(subset=['Price_EUR'])
        
        # Sort the dataframe by price in ascending order
        self.sorted_books_df = books_df.sort_values(by='Price_EUR')

  def find_closest_book(self, target_price, min_rating=4):
    """
    Uses binary search to find the book closest to the target price with a rating of min_rating or over.
    """
    low = 0
    high = len(self.sorted_books_df) - 1
    closest_book = None 

    while low <= high:
        mid = (low + high) // 2
        current_price = self.sorted_books_df.iloc[mid]['Price_EUR']
        current_rating = self.sorted_books_df.iloc[mid]['Rating']

        # Check if current book meets rating criteria
        if current_rating >= min_rating:
            # If price matches, return the book
            if current_price == target_price:
                return self.sorted_books_df.iloc[mid]
            # Update closest_book if closer to the target price
            elif closest_book is None or abs(current_price - target_price) < abs(closest_book['Price_EUR'] - target_price):
                closest_book = self.sorted_books_df.iloc[mid]

      
        if current_price < target_price:
            low = mid + 1
        else:
            high = mid - 1

    return closest_book

- Testing PriceSort methods:

- Retrieving personalised book recommendations for registered users based on target price:

In [33]:
target_price_eur = float(input("Enter your target price in Euros: "))
min_rating = int(input("Enter minimum rating (optional, defaults to 4): ") or 4)

price_sort = PriceSort(books_df.copy()) 

closest_book = price_sort.find_closest_book(target_price_eur, min_rating)

if closest_book is not None:
    print(f"The book closest to your target price of €{target_price_eur} with a rating of {min_rating} or over is:")
    display(pd.DataFrame(closest_book[['Title', 'Author', 'Price_EUR', 'Rating','URLs']]).style)
else:
    print(f"No book found within your budget (€{target_price_eur}) and minimum rating of {min_rating}.")

Enter your target price in Euros:  100
Enter minimum rating (optional, defaults to 4):  3

The book closest to your target price of €100.0 with a rating of 3 or over is: