Real-World Problem Solving with Algorithms and Data Structures

In [5]:
import pandas as pd
import ipytest

In [6]:
books_df = pd.read_csv("Books_df.csv")

In [7]:
print("Books DataFrame:")
books_df.head()

Books DataFrame:

,Unnamed: 0,Title,Author,Main Genre,Sub Genre,Type,Price,Rating,No. of People rated,URLs
0,0,The Complete Novel of Sherlock Holmes,Arthur Conan Doyle,"Arts, Film & Photography",Cinema & Broadcast,Paperback,₹169.00,4.4,19923.0,https://www.amazon.in/Complete-Novels-Sherlock...
1,1,Black Holes (L) : The Reith Lectures [Paperbac...,Stephen Hawking,"Arts, Film & Photography",Cinema & Broadcast,Paperback,₹99.00,4.5,7686.0,https://www.amazon.in/Black-Holes-Lectures-Ste...
2,2,The Kite Runner,Khaled Hosseini,"Arts, Film & Photography",Cinema & Broadcast,Kindle Edition,₹175.75,4.6,50016.0,https://www.amazon.in/Kite-Runner-Khaled-Hosse...
3,3,Greenlights: Raucous stories and outlaw wisdom...,Matthew McConaughey,"Arts, Film & Photography",Cinema & Broadcast,Paperback,₹389.00,4.6,32040.0,https://www.amazon.in/Greenlights-Raucous-stor...
4,4,The Science of Storytelling: Why Stories Make ...,Will Storr,"Arts, Film & Photography",Cinema & Broadcast,Paperback,₹348.16,4.5,1707.0,https://www.amazon.in/Science-Storytelling-Wil...

In [8]:
exchange_rate_inr_to_eur = 1 / 89.43  # 1 Euro = 89.43 INR

# Removing commas and currency symbol from the prices and convert to float
books_df['Price'] = books_df['Price'].str.replace(',', '').str.replace('₹', '').astype(float)

# Calculating the price in Euros
books_df['Price_EUR'] = books_df['Price'] * exchange_rate_inr_to_eur

# Rounding the price in Euros to two decimal places
books_df['Price_EUR'] = books_df['Price_EUR'].apply(lambda x: round(x, 2))

print("Books DataFrame with Prices in Euros:")
books_df.head()

Books DataFrame with Prices in Euros:

,Unnamed: 0,Title,Author,Main Genre,Sub Genre,Type,Price,Rating,No. of People rated,URLs,Price_EUR
0,0,The Complete Novel of Sherlock Holmes,Arthur Conan Doyle,"Arts, Film & Photography",Cinema & Broadcast,Paperback,169.00,4.4,19923.0,https://www.amazon.in/Complete-Novels-Sherlock...,1.89
1,1,Black Holes (L) : The Reith Lectures [Paperbac...,Stephen Hawking,"Arts, Film & Photography",Cinema & Broadcast,Paperback,99.00,4.5,7686.0,https://www.amazon.in/Black-Holes-Lectures-Ste...,1.11
2,2,The Kite Runner,Khaled Hosseini,"Arts, Film & Photography",Cinema & Broadcast,Kindle Edition,175.75,4.6,50016.0,https://www.amazon.in/Kite-Runner-Khaled-Hosse...,1.97
3,3,Greenlights: Raucous stories and outlaw wisdom...,Matthew McConaughey,"Arts, Film & Photography",Cinema & Broadcast,Paperback,389.00,4.6,32040.0,https://www.amazon.in/Greenlights-Raucous-stor...,4.35
4,4,The Science of Storytelling: Why Stories Make ...,Will Storr,"Arts, Film & Photography",Cinema & Broadcast,Paperback,348.16,4.5,1707.0,https://www.amazon.in/Science-Storytelling-Wil...,3.89

UserManager function:

- User registration: register_user method to allow users to register with unique usernames and passwords;
- User Login: login_user method verifies user credentials and allows them to log in;
- Preference Setting: set_preference method enables users to set their preferences by providing a key-value pair;
- Preference Retrieval: get_preferences method retrieves the preferences of a logged-in user;
- Testing: testing the registration, login, preference setting, and preference retrieval functionalities with sample users.

In [9]:
class UserManagement:
    def __init__(self):
        self.users = {}  # Dictionary to store user information

    def register_user(self, username, password):
        if username in self.users:
            print("Username already exists. Please choose a different username.")
        else:
            self.users[username] = {'password': password, 'preferences': {}}
            print("Registration successful!")

    def login_user(self, username, password):
        if username in self.users and self.users[username]['password'] == password:
            print("Login successful!")
            return True
        else:
            print("Invalid username or password. Please try again.")
            return False

    def set_preference(self, username, preference_key, preference_value):
        if username in self.users:
            if 'preferences' not in self.users[username]:
                self.users[username]['preferences'] = {}  # Initializing preferences dictionary if it doesn't exist
            if preference_key in self.users[username]['preferences']:
            # Appending the new preference to the existing list of preferences
                self.users[username]['preferences'][preference_key].append(preference_value)
            else:
            # Creating a new list with the preference value if the preference key doesn't exist
                self.users[username]['preferences'][preference_key] = [preference_value]
            print("Preference set successfully!")
        else:
            print("User not found. Please login again.")


    def get_preferences(self, username):
        if username in self.users and 'preferences' in self.users[username]:
            return self.users[username]['preferences']
        else:
            print("User not found or no preferences set.")
            return None

Testing UserManager methods:

In [10]:
def test_register_user():
    user_manager = UserManagement()
    user_manager.register_user('test_user', 'test_password')
    assert 'test_user' in user_manager.users

def test_login_user():
    user_manager = UserManagement()
    user_manager.register_user('test_user', 'test_password')
    assert user_manager.login_user('test_user', 'test_password') == True

def test_set_preference():
    user_manager = UserManagement()
    user_manager.register_user('test_user', 'test_password')
    user_manager.set_preference('test_user', 'preference_key', 'preference_value')
    assert 'preference_key' in user_manager.get_preferences('test_user')

ipytest.run('-vv')

======================================= test session starts ========================================
platform darwin -- Python 3.11.7, pytest-8.1.1, pluggy-1.4.0 -- /Users/andressafont/miniconda3/envs/comp47350py311/bin/python
cachedir: .pytest_cache
rootdir: /Users/andressafont/Desktop/data structures
plugins: cov-5.0.0, nbval-0.11.0, anyio-4.2.0
collecting ... collected 3 items

t_f26a03185c7540daba43a1db6d99bc83.py::test_register_user <- ../../../../var/folders/6j/tmdg_xx172xb1xtgxd35y2400000gn/T/ipykernel_6414/3846880177.py PASSED [ 33%]
t_f26a03185c7540daba43a1db6d99bc83.py::test_login_user <- ../../../../var/folders/6j/tmdg_xx172xb1xtgxd35y2400000gn/T/ipykernel_6414/3846880177.py PASSED [ 66%]
t_f26a03185c7540daba43a1db6d99bc83.py::test_set_preference <- ../../../../var/folders/6j/tmdg_xx172xb1xtgxd35y2400000gn/T/ipykernel_6414/3846880177.py PASSED [100%]

======================================== 3 passed in 0.30s =========================================

Creating users:

In [11]:
user_manager = UserManagement()

user_manager.register_user('Sean', 'password123')
user_manager.register_user('Saoirse', 'password789')
user_manager.register_user('Finn', 'password456')
user_manager.register_user('Aoife', 'password997')

Registration successful!
Registration successful!
Registration successful!
Registration successful!

Setting some preferences

In [12]:
if user_manager.login_user('Sean', 'password123'):
    # Set preference for the logged-in user
    user_manager.set_preference('Sean', 'favorite_genre', 'Science Fiction')
    user_manager.set_preference('Sean', 'favorite_author', 'J.K. Rowling')
    user_manager.set_preference('Sean', 'favorite_author', 'David Nicholls')
    user_manager.set_preference('Sean', 'favorite_type', 'Paperback')

Login successful!
Preference set successfully!
Preference set successfully!
Preference set successfully!
Preference set successfully!

In [13]:
if user_manager.login_user('Saoirse', 'password789'):
    # Set preference for the logged-in user
    user_manager.set_preference('Saoirse', 'favorite_genre', 'Arts, Film & Photography')

Login successful!
Preference set successfully!

In [14]:
if user_manager.login_user('Finn', 'password456'):
    # Set preference for the logged-in user
    user_manager.set_preference('Finn', 'favorite_genre', 'Cinema & Broadcast')

Login successful!
Preference set successfully!

In [15]:
if user_manager.login_user('Aoife', 'password997'):
    # Set preference for the logged-in user
    user_manager.set_preference('Aoife', 'favorite_genre', 'Economics')

Login successful!
Preference set successfully!

In [16]:
if user_manager.login_user('Aoife', 'password997'):
    # Set preference for the logged-in user
    user_manager.set_preference('Aoife', 'favorite_genre', 'Cinema & Broadcast')

Login successful!
Preference set successfully!

Getting preferences:

In [17]:
if user_manager.login_user('Aoife', 'password997'):
    # Get preferences for the logged-in user
    aoife_preferences = user_manager.get_preferences('Aoife')
    if aoife_preferences:
        print("Aoife's preferences:", aoife_preferences)
    else:
        print("No preferences found for Aoife.")

Login successful!
Aoife's preferences: {'favorite_genre': ['Economics', 'Cinema & Broadcast']}

Book recommendations based on genre:

In [116]:
class GenreRecommender:
    def __init__(self, user_manager, books_df):
        self.user_manager = user_manager
        self.books_df = books_df

    def recommend_books(self, username):
        """Recommends books based on user's favorite genre from preferences"""
        if self.user_manager.login_user(username, self.user_manager.users[username]['password']):
            favorite_genre = self.user_manager.users[username]['preferences'].get('favorite_genre')
            if favorite_genre:
                filtered_books = self.filter_books_by_genre(favorite_genre)
                recommendations = self.get_top_recommendations(filtered_books)
                print(f"Here are some recommendations for {username} based on favorite genre '{favorite_genre}':")
                return recommendations
            else:
                print(f"{username} doesn't have a favorite genre set in preferences.")
                return pd.DataFrame()  # Return an empty DataFrame
        else:
            print("Invalid username or password. Please try again.")
            return pd.DataFrame()  # Return an empty DataFrame

    def filter_books_by_genre(self, favorite_genre):
        if isinstance(favorite_genre, list):
            favorite_genre = ", ".join(favorite_genre)
        if self.books_df['Main Genre'].dtype != object:
            self.books_df['Main Genre'] = self.books_df['Main Genre'].astype(str)
        return self.books_df[self.books_df['Main Genre'].str.contains(favorite_genre, case=False)]

    def get_top_recommendations(self, filtered_books):
        selected_columns = ['Title', 'Author', 'Price_EUR', 'Rating', 'URLs']
        sorted_books = filtered_books.sort_values(by='Rating', ascending=False)[selected_columns]
        recommendation_count = 3
        return sorted_books.head(recommendation_count)

In [117]:
# Create an instance of GenreRecommender
genre_recommender = GenreRecommender(user_manager, books_df)

recommendations = genre_recommender.recommend_books('Saoirse')
styled_recommendations = recommendations.style
styled_recommendations

Login successful!
Here are some recommendations for Saoirse based on favorite genre '['Arts, Film & Photography']':

In [73]:
class PriceSort:
  def __init__(self, books_df):
        """
        Sorts the book dataframe by price in ascending order.
        """
        # Convert Price_EUR column to numeric type
        books_df['Price_EUR'] = pd.to_numeric(books_df['Price_EUR'], errors='coerce')
        # Remove rows with NaN values in Price_EUR column
        books_df = books_df.dropna(subset=['Price_EUR'])
        
        # Sort the dataframe by price in ascending order
        self.sorted_books_df = books_df.sort_values(by='Price_EUR')

  def find_closest_book(self, target_price, min_rating=4):
    """
    Uses binary search to find the book closest to the target price with a rating of min_rating or over.
    """
    low = 0
    high = len(self.sorted_books_df) - 1
    closest_book = None  # Initialize closest book to None

    while low <= high:
        mid = (low + high) // 2
        current_price = self.sorted_books_df.iloc[mid]['Price_EUR']
        current_rating = self.sorted_books_df.iloc[mid]['Rating']

        # Check if current book meets rating criteria
        if current_rating >= min_rating:
            # If price matches, return the book
            if current_price == target_price:
                return self.sorted_books_df.iloc[mid]
            # Update closest_book if closer to the target price
            elif closest_book is None or abs(current_price - target_price) < abs(closest_book['Price_EUR'] - target_price):
                closest_book = self.sorted_books_df.iloc[mid]

        # Adjust search range based on price
        if current_price < target_price:
            low = mid + 1
        else:
            high = mid - 1

    return closest_book  # Return the closest book found

In [59]:
# Ensure the user enters the target price in Euros
target_price_eur = float(input("Enter your target price in Euros: "))
min_rating = int(input("Enter minimum rating (optional, defaults to 4): ") or 4)

# Create an instance of PriceSort
price_sort = PriceSort(books_df.copy()) 

# Find the closest book
closest_book = price_sort.find_closest_book(target_price_eur, min_rating)

if closest_book is not None:
    print(f"The book closest to your target price of €{target_price_eur} with a rating of {min_rating} or over is:")
    display(pd.DataFrame(closest_book[['Title', 'Author', 'Price_EUR', 'Rating','URLs']]).style)
else:
    print(f"No book found within your budget (€{target_price_eur}) and minimum rating of {min_rating}.")

Enter your target price in Euros:  354
Enter minimum rating (optional, defaults to 4):  2

The book closest to your target price of €354.0 with a rating of 2 or over is:

In [23]:
import pandas as pd

def get_books_by_favorite_authors(username, users, books_database, desired_columns=['Title', 'Author', 'Rating', 'Price_EUR', 'URLs']):
    """
    This function recommends books based on a user's favorite authors, selecting
    specified columns for the recommendations and ensuring unique book recommendations.

    Args:
        username: The username of the user.
        users: A dictionary containing user information.
        books_database: A Pandas DataFrame containing book information.
        desired_columns (list, optional): A list of column names to select
            from the recommended books. Defaults to ['Title', 'Author',
            'Rating', 'Price_EUR', 'URLs'].

    Returns:
        A Pandas DataFrame containing recommended books (empty if none found).
    """

    if username not in users:
        print("User not found.")
        return pd.DataFrame()

    if 'preferences' not in users[username]:
        print(f"User '{username}' has no preferences set.")
        return pd.DataFrame()

    favorite_authors = users[username]['preferences'].get('favorite_author', [])

    if not favorite_authors:
        print(f"User '{username}' has no favorite authors set.")
        return pd.DataFrame()

    recommended_books = []

    for author in favorite_authors:
        author_books = books_database[books_database['Author'] == author]
        if not author_books.empty:
            # Sort the books by rating in descending order
            sorted_books = author_books.sort_values(by='Rating', ascending=False)
            # Select only the top 3 books per author
            top_3_books = sorted_books.head(3)[desired_columns]
            recommended_books.append(top_3_books)
        else:
            print(f"No books found for author {author}.")

    if recommended_books:
        # Concatenate the list of DataFrames into a single DataFrame
        df = pd.concat(recommended_books)
        return df
    else:
        print("No books found matching the criteria.")
        return pd.DataFrame()

In [24]:
recommended_books_by_author = get_books_by_favorite_authors('Sean', user_manager.users, books_df)
styled_recommended_books_by_author = recommended_books_by_author.style
styled_recommended_books_by_author